

 @media only screen and (max-width:1025px) and (min-width: 767px){
  div.banner{
    height: 60vh;
  }  
  h1{
       padding-top: 200px;
       font-size: 2.5rem;
        background-color: rgba(59, 56, 56, 0.336);
     }
  
/****HEAD LOGO*****/
.logo-head{
  width: 160px;
  margin-left: 60px;
  margin-top: -45px;
}
.topnav {
  height: 12vh;
}
   .topnav a{
     font-size: 2rem;
   }

   /* Add an active class to highlight the current page */
.topnav a.active {
width: auto;
}
 /**====WELCOME==PART==STARTS==WITH=PICS***/
div.welcome-part{
    height: auto;
  }
  section.welcome-wrap-left{
      margin-left: 300px;
      height: auto;
  }
  section.welcome-wrap-right{
    height: auto;
  }
  img.wrap-img-mid{
    height: auto;
    max-width: 330px;
  }
 }


 @media screen and (max-width:1366px) and (min-width: 1024px){
  div.banner{
    height: 60vh;
    padding-top: 250px;
  }  
  
  h1{
      font-size: 3rem;
  }


  section.hr-line{
      border-bottom: 2px solid orangered;
      width: 10%;
      margin-left: 440px;
    
   } 

   /* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(0, 0, 0, 0.514);
  overflow: hidden;
  position: fixed;
  color:white;
  width: 100%;
  height: 10vh;
}

   .topnav a{
     font-size: 1.2rem;
     margin: 25px 10px;
   }
   .topnav a.active {
     margin: 15px 10px;
   }

/**====WELCOME==PART==STARTS==WITH=PICS***/
div.welcome-part{
 height: auto;

}
section.welcome-wrap-left{
   margin-left: 200px;
   height: auto;
}
section.welcome-wrap-right{
 height: auto;
}
img.wrap-img-mid{
 height: auto;
 max-width: 330px;
}


/***OVAL--IMAGE****/
h5{
  text-align: center;
}

/***PARA--FOR--CUSTOMER-REVIEWS-LINES***/
P.review-para{
  font-weight: 2rem;
}

aside.customer-name{
  margin-top: 0px;
  padding-left: 15px;
}

span.social-media-icons a i{
  font-size: 3rem;
  margin: 0px 15px;
 
}



/**FOOTER--WITH--BG--COLOR***/
div.footer-bg{
  margin-top: 25px;
}
 /**KNOW==BTN**/

 button.btn-about-us{
 margin-left: 20px;
 }

 aside.copyright{
  font-size: 0.6rem;
}
}

@media only screen and (max-width:1024px) and (orientation: landscape){
 
  h1{
      margin-top: 0px;
      padding-top: 0px;
      font-size: 4rem;
      color:rgb(0, 225, 255);
  }
  section.hr-line{
  display: none;

  }
  section.welcome-wrap-right{
    max-width: 350px;
  }
  div.sunday-feature{
    flex-wrap: nowrap;
   
  }
  /*SECTION FOR LEFT PHOTO FEATURE***/
img.feature-left-photo{
  max-width: 450px;
}
/*SECTION FOR RIGHT PHOTO FEATURE***/
section.feature-right-photo{
  margin-top: 35px;
  margin-left: 30px;
  max-width: 500px;
}

/***CLIENT'S REVIEW PART***/
div.review-part{
  flex-wrap: nowrap;
}


}

@media only screen and (max-width:1366px)  and (orientation: landscape){
  div.banner{
    height: 75vh;
    padding-top: 250px;
  }  
  
  h1{
      margin-top: 0px;
      padding-top: 0px;
      font-size: 5rem;
      color:blueviolet;
  }
  section.hr-line{
    margin-left: 640px;
  
 } 
 section.welcome-wrap-left{
  margin-left: 350px;
  max-width: 80%;
}
 /**KNOW==BTN**/
 button.btn-about-us{
  margin: 35px -15px;
   width: 40%;
  }
 img.wrap-img-mid{
  max-width: 450px;
  height: 60vh;
}
section.welcome-wrap-right{
  width: 450px;
}
/*SECTION FOR LEFT PHOTO FEATURE***/
img.feature-left-photo{
  width: 550px;
}
/***CLIENT'S REVIEW PART***/
div.review-part{
  flex-wrap: nowrap;
}

span.social-media-icons a i{
  font-size: 3rem;
  margin: 10px 25px 0px 25px;
  padding-top: 15px;
 
}
}

@media only screen and (max-width:800px)  and (orientation: landscape){
h1{
  font-size: 3rem;
  color:red;
}
div.banner{
  height: 105vh;
}
img.wrap-img-mid{
  margin: 55px 60px;
  height: 67vh;
}
 /**KNOW==BTN**/
 button.btn-about-us{
  width: auto;
} 

section.welcome-wrap-right{
  max-width: 300px;
  height: auto;
}
/*SECTION FOR LEFT PHOTO FEATURE***/
img.feature-left-photo{
  max-width: 400px;
  margin-left: 25px;
}

/*SECTION FOR RIGHT PHOTO FEATURE***/
section.feature-right-photo{
  margin-top: 35px;
  margin-left: 20px;
  max-width: auto;
}
/***CLIENT'S REVIEW PART***/
div.review-part{
  flex-wrap: wrap;
}
}



