
/*responsive css for smaller screen less than 320px*/
@media only screen and (max-width: 600px){
   /*a links default*/
a{
    color:black;
    text-decoration:none;
}

/*img default*/
img{
    max-width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
}


.header{
    background: url("/images/locksmith.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 61%, 72% 84%, 0 68%);
    height: 850px;
    width: 100%;
    color:white;
    background-size: 100% 100%;
    
}

.headings{
    color: white;
    font-size: 3rem;
   margin:0px 0px 0px 150px;
   padding: 70px 0px 0px 0px;
}



aside{
    color: white;
    font-size: 1rem;
    margin: 0px 0px 0px 150px;
}

button.call{
    background-color: rgb(240, 99, 48);
    padding: 10px;
    border: 0px solid;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin: 30px 0px 0px 150px;
    font-family: 'Roboto', sans-serif;
    opacity: 0.8;
    font-weight: bold;
}

button.call:hover{
    background-color: rgb(252, 81, 18); 
}

.clip-header{
    background: url("");
    background-color: rgb(41, 36, 36);
    opacity: 0.76;
    height: 500px;
    width: 100%;
    background-size: 100% 100%;
    clip-path: polygon(66% 66%, 100% 51%, 100% 66%, 73% 91%, 0 71%, 28% 54%);
}



aside.services{
    color:black;
    padding: 0px;
    text-align: center;
    opacity: 0.76;
}


h2{
    font-size: 2.5rem;
    text-align:center;
    color:black;
    margin-left: 150px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}


.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 0.85rem;
    opacity: 0.65;
    line-height: 35px;
    font-weight: bold;
    padding: 25px;
}

.left-content{
    border: px solid green;
    width: 550px;
    margin-left: 60px;
    padding-left: 15px;
}

.right-content{
    border: px solid green;  
    width: 550px;
    padding-left: 35px;
}

.feature{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    color: rgb(253, 245, 245);
}


/*feature-boxes*/
.left-feature{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    font-size: 2rem;
    border: px solid green;
    height: 100%;
    width: 850px;
    padding: 0px;
    margin: 0px;
}

p.feature-box-brief{
    opacity: 0.75;
    font-weight: lighter;
    font-size: 0.85rem;
    letter-spacing: 2px;
    padding: 15px;
    line-height: 30px;
    font-weight: bold;
}

h5{
    font-size: 0.75rem;
    font-family: 'Roboto', sans-serif;
 
}

.feature-box1{
    border: px solid;
    margin-left: 25px;
    margin-bottom: 30px;
    height: 300px;
    width: 450px;
    background-color: rgba(25, 25, 49, 0.911);
}
.feature-box2{
    border: px solid;
    height: 300px;
    width: 400px;
    margin-top: 18px;
    margin-left: -8px;
    background-color: rgba(70, 48, 19, 0.747);
}

.feature-box3{
    justify-content: right;
    border: px solid;
    height: 250px;
    width: 450px;
    background-color: rgba(255, 68, 0, 0.822);
    margin-left: 55px;
    margin-top: -25px;
}


.right-feature{
    display: flex;
    flex-wrap: wrap;
    border: px solid green;
    margin-left: 85px;
    width: 150px;
    color:black;
}

/*button for sell services*/
button.sell{
    font-size: 1.2rem;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin-left: 600px;
    border: 2px solid rgb(223, 219, 219);
}
button.sell a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
 button.sell:hover{
    background-color: rgba(110, 110, 110, 0.185);
 }
/*right-features h3 and p classes*/
h3{
    color:orangered;
    opacity: 0.8;
  
}

p.feature-brief{
    opacity: 0.5;
    font-weight: bold;
 
}

.history-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 50px;
    margin-top: 100px;
}

.history-left{
    color: rgb(0, 0, 0);
    border: px solid green;
    height: 100%;
    width: 600px;
}

aside.history{
    margin: 0px;
    text-align: left;
    color:black;
    opacity: 0.56;
    font-weight: bold;
    padding: 5px;
}

h4{
    font-size: 1.6rem;
    margin: 0px;
    padding: 5px;
}
p.history-brief{
    color:rgb(0, 0, 0);
    font-weight: 600;
    line-height: 25px;
    opacity: 0.5;
    margin: 0px;
    padding: 5px;
}


button.learn{
    border: 0px solid;
    background-color: rgba(0, 0, 128, 0.747); 
    padding: 15px;
    margin: 0px;
}


button.learn a{
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 25px;
}

button.learn:hover{
    background-color: rgba(25, 81, 155, 0.925);
}

.history-right{
    border: px solid green;
    height: 100%;
    width: 50%;
    margin-left: 10px;
}

/*footer part starts*/

.footer-clip1{
    background: url("/images/locksmith.jpg");
    opacity: 0.85;
    background-size: 100% 100%;
    width: 100%;
    clip-path: polygon(73% 13%, 100% 0, 100% 37%, 100% 70%, 66% 66%, 0 89%, 0 29%, 21% 9%);
}

p.foot-brief{
    color:white;
    font-size: 0.75rem;
    margin-left: 0px;
    border: 1px solid white;
}

button.brief{
    font-size: 0.35rem;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    background-color: rgb(240, 99, 48);
    color: white;
    border: px solid rgb(255, 255, 255);
}


button.brief:hover{
    background-color: rgb(245, 79, 19);
}


.footer-social-media{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
}

.footer-social-media a{
    border: px solid red;
    font-size: 1rem;
    text-align: center;
    
}

.footer-social-media a i{
    text-align: center;
    color: orangered;
}

.footer-social-media a :hover{
    transform: scale(1.1);
}

h6{
    font-weight: bolder;
    font-size: 0.75rem;
    color:black;
    font-family: 'Roboto', sans-serif;
}

p.social-icons{
    color:black;
    opacity: 0.85;
    font-size: 0.5rem;
    font-family: 'Roboto', sans-serif;

} 

}


/*headings and clip parts for mobile screens*/
@media only screen and (max-width: 800px){
    .header{
        height: 400px;
    }
    .headings{
        font-size: 1.85rem;
    }
    aside{
        font-size: 0.85rem;
    }

  .clip-header{
      height: 50px;
  }
  h2{
      font-size: 1rem;
  }
  .content{
      font-size: 0.8rem;
      justify-content: baseline;
  }
  .right-content{
      align-items: flex-start;
  }
  .feature{
      padding: 0px;
      justify-content: flex-start;
      font-size: 1.5rem;
  }
  .feature-box1{
    width: 100%;
  }
  .feature-box2{
      width: 100%;
  }
  .feature-box3{
    width: 100%;
  }
  button.sell{
      padding: 5px;
      margin-left: 80px;
  }
  h4{
      font-size: 1.25rem;
  }
  p.history-brief{
      font-size: 1rem;
  }
  button.learn{
      padding: 10px;
  }
  .history-right{
      padding-top: 10px;
      width: 100%;
      margin: 0px;
  }
  .footer-clip1{
      height: 500px;
  }
  p.foot-brief{
      font-size: 1.5rem;
      margin-left: 10px;
  }

}
/*responsive for tablets*/
@media only screen and (max-width: 1024px){
    .right-feature{
        display: block;
        margin: 0px;
    }
button.sell{
    margin-left: 400px;
}
button.learn{
    margin-left: 0px;
}
.history-right{
    width: 80%;
    margin-top: 50px;
    margin-left: 110px;
}
}

/* responsive css for bigger screen */
@media only screen and (max-width: 2560px){
    .header{
        height: 1020px;
    }
    .clip-header{
        height: 700px;
    }
    .footer-clip1{
        height: 1020px;
    }
    p.foot-brief{
        padding: 200px 0px 0px 200px;
    }
    button.brief{
        margin-left: 250px;
    }
    .footer-social-media a i{
        font-size: 2.5rem;
    }
}