
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
img{
  max-width: 100%; 
}

body{
    font-family: sans-serif;

}




/***---------------ANIMATION CSS---------------***/
.whole-bg-banner{
    background: url("/images/banner-head.jpg");
    background-size: 100vmax;
    background-repeat: no-repeat;
    height:  500px;
    opacity: 0.85;
    animation-duration: 1s;
    animation-name: scale;
   animation-iteration-count: finite;
   animation-timing-function: linear;
}
/***---------------ANIMATION CSS---------------***/
.animation--scale{
animation-name: scale;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
/***-------------ANIMATION KEYFRAMEWORK CSS --------------------***/
@keyframes scale {
    0% {
        transform : scale(1);
    }
    25% {
        transform : scale(0.5);
    }
    75%{
        transform: scale(1.5);
    }
    100%{
        transform: (1);
    }
}

.description{
    margin: -20px 0px;
}

h1{
    text-align: center;
    font-size: 4rem;
    color:black;
}
h2{
    text-align: center;
    font-weight: bolder;
}


h6{
     text-align: center;
     padding: 50px 0px;
    }

button.btn-order{
    right: 0;
    position: fixed;
    background-color:black;
    color:white;
    font-size: 1rem;
    padding: 8px 15px;
    text-align: center;
    border: 1px solid rgb(34, 34, 34);
}
button.btn-order:hover{
    background-color:rgb(65, 10, 10);
    color:rgb(255, 255, 255);
}

/*
.rotate-wrapper{
    margin-top: 350px;
    display: flex;
    justify-content: space-around;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(300deg);
    }
    100%{
        transform: rotate(0deg);
    }
} */

.Services-wrapper-1,
.Services-wrapper-2{
    display: flex;
    border: px solid red;
    justify-content: center;
   
}

section.lessons{
    border: px solid rgb(0, 0, 0);
   
}

.feature{
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
}

.left-feature-pic{
    width: 50%;
    background-color: rgb(165, 163, 163);
}

.right-brief-feature{
    margin-left: -350px; 
    margin-top: 120px;
   width: 100%;
   background-color: rgb(255, 255, 255);
}

p.last-breif{
    color:rgb(255, 255, 255);
}


h2{
    font-size: 0.85rem;
    text-align: center;
}

p.bottom-last-brief{
    font-weight: bolder;
    font-size: 0.5rem;
    color:black;
}
/***header para**/
h3{
    text-align: left;
}
/**paragraphs***/
p.lessons-para{
    
}
.video{ 
    border: px solid red;
}

.video-top{
    border: px solid blue;
    display: flex;
    justify-content: center;
    background-color:rgb(209, 198, 198);

}
video{
    max-width: 50%;
}
.video-bottom{
    display: flex;
    justify-content: center;
    margin-top: -120px;
    border: px solid green;
    background-color:rgb(187, 179, 179);
}
h5{
    font-size: 2rem;
    padding-top: 135px;
    color:rgb(252, 253, 253);
}