

/**FOR SMALLER PHONE SCREEN SIZES MAX 400PX**/

@media only screen and (max-width: 400px){
    
    body{
        color:red;
    }
    .logo{
        border: px solid white;
        margin-left: 0px;
        width: 60px;
        margin-left: 10px;
    margin-top: 35px;
    opacity: 0.65;
    }
  
    .main-nav li{
        display: inline-flex;
        padding-top: 45px;
        margin-left: 0px;
        border: px solid white;
        float: right;
        margin-right: 0px;
    
    }

    .main-nav li a:link,
    .main-nav li a:visited{
        padding: 0px 0px;
        font-size: 0.8rem;
    }


.banner-part{
    height: 400px;
}

/**banner welcome heading***/
    h1{
        font-size: 1.5rem;
        margin-top: 130px;
        color:rgb(255, 255, 255);
        margin-bottom: 10px;
        opacity: 0.8;
    }
    /**btn 1 and btn2**/
    
button.btn1{
    padding: 10px;
    width: 100%;
    color:rgb(255, 255, 255);
    background-color: orange;
    border-radius: 15px;
    border: 1px solid orange;
    opacity: 1;
    margin-left: 0px;
    margin-bottom: 10px;   
}


button.btn2{
    padding: 10px;
    font-size: 0.85rem;
    width: 100%;
    color: whitesmoke;
    font-weight: 500;
    background-color: rgba(95, 95, 95, 0.226);
    border-radius: 15px;
    border: 1px solid orange;
    opacity: 1;
}


}


/**FOR PHONE SCREEN SIZES MIN 400PX AND MAX 600PX**/
@media only screen and (min-width: 400px) and (max-width: 600px) {
    
    body{
        color:red;
    }
    .logo{
        border: px solid white;
        margin-left: 0px;
        width: 60px;
        margin-left: 10px;
    margin-top: 35px;
    opacity: 0.65;
    }
  
    .main-nav li{
        display: inline-flex;
        padding-top: 45px;
        margin-left: 0px;
        border: px solid white;
        float: right;
        margin-right: 0px;
    
  
    
    }

    .main-nav li a:link,
    .main-nav li a:visited{
        padding: 0px 0px;
        font-size: 0.8rem;
    }

.banner-part{
    height: 500px;
}
    /**banner welcome heading***/
    h1{
        font-size: 2rem;
        margin-top: 150px;
        color:rgb(53, 248, 4);
       
    }
    /**btn 1 and btn2**/
    
button.btn1{

    padding: 10px;
    width: 100%;
    color:rgb(255, 255, 255);
    background-color: orange;
    border-radius: 15px;
    border: 1px solid orange;
    opacity: 1;
    margin-left: 0px;
    margin-bottom: 15px;
    
}

button.btn2{
    padding: 10px;
    font-size: 0.85rem;
    width: 100%;
    font-weight: 500;
    color: whitesmoke;
    background-color: rgba(95, 95, 95, 0.226);
    border-radius: 15px;
    border: 1px solid orange;
    opacity: 1;
}

}
/**FOR SMALL TABLETS SCREEN SIZES MIN 600PX AND MAX 800PX**/
@media only screen and (min-width: 600px) and (max-width: 800px) {
    
    body{
        color:red;
    }
    .logo{
        border: px solid white;
        margin-left: 0px;
        width: 60px;
        margin-left: 10px;
    margin-top: 35px;
    opacity: 0.65;
    }
  
    .main-nav li{
        display: inline-flex;
        padding-top: 45px;
        margin-left: 0px;
        border: px solid white;
        float: right;
        margin-right: 0px;
    
  
    
    }

    .main-nav li a:link,
    .main-nav li a:visited{
        padding: 0px 0px;
        font-size: 1.35rem;
    }

.banner-part{
    height: 500px;
}
    /**banner welcome heading***/
    h1{
        font-size: 2rem;
        margin-top: 150px;
        color:rgb(248, 73, 4);
        margin-bottom: 25px;
       
    }
    /**btn 1 and btn2**/
    
button.btn1{
    margin-top: 25px;
    padding: 10px;
    width: 100%;
    color:rgb(255, 255, 255);
    background-color: orange;
    border-radius: 15px;
    border: 1px solid orange;
    opacity: 1;
    margin-left: 0px;
    margin-bottom: 15px;
    
}

button.btn2{
    padding: 10px;
    font-size: 0.85rem;
    color: whitesmoke;
    width: 100%;
    font-weight: 500;
    background-color: rgba(95, 95, 95, 0.226);
    border-radius: 15px;
    border: 1px solid orange;
    opacity: 1;
}

}

/* TABLETS AND LAPTOP SCREEN SIZES between screen 1025px to 600px*/
@media only screen and (max-width: 1025px) and (min-width: 601px){
    
    body{
        color:red;
    }
    .logo{
        border: px solid white;
        margin-left: 0px;
        width: 60px;
        margin-left: 10px;
    margin-top: 35px;
    opacity: 0.65;
    }
  
    .main-nav li{
        display: inline-flex;
        padding-top: 45px;
        margin-left: 0px;
        border: px solid white;
        float: right;
        margin-right: 0px; 
    }

    .main-nav li a:link,
    .main-nav li a:visited{
        padding: 0px 0px;
        font-size: 1.5rem;
    }

.banner-part{
    height: 500px;
}
    /**banner welcome heading***/
    h1{
        font-size: 2rem;
        margin-top: 150px;
        color:yellow;
        
    }
    /**btn 1 and btn2**/
    
button.btn1{
    padding: 10px;
    width: 100%;
    color:rgb(255, 255, 255);
    background-color: orange;
    border-radius: 15px;
    border: 1px solid orange;
    opacity: 1;
    margin-left:0px;
    margin-bottom: 10px;
    margin-top: 55px;
    
}

button.btn2{
    padding: 10px;
    font-size: 0.85rem;
    width: 100%;
    color:rgb(255, 255, 255);
    font-weight: 500;
    background-color: rgba(95, 95, 95, 0.226);
    border-radius: 15px;
    border: 1px solid orange;
    opacity: 1;
}
/**buttons hover */
button.btn1:hover{
    transition-property: 500ms;
    background-color: rgba(255, 166, 0, 0.911);

}
button.btn2:hover{
    color:rgb(255, 255, 255);
    transition-property: 500ms;
    background-color: rgba(250, 141, 39, 0.925);

}

}


/**FOR IPAD PRO SCREENS AND OTHER TABLETS MAX 1366PX AND MIN 1024P*/
@media only screen and (max-width: 1366px) and (min-width: 1024px){
    body{
        color:red;
    }
    .logo{
        border: px solid white;
        margin-left: 0px;
        width:  110px;
        margin-left: 10px;
       margin-top: 0px;
      opacity: 0.65;
    }
  
    .main-nav li{
        display: inline-flex;
        padding-top: 45px;
        margin-left: 0px;
        border: px solid white;
        justify-content: center;
        margin-right: 0px; 
    }

    .main-nav li a:link,
    .main-nav li a:visited{
        padding: 0px 8px;
        font-size: 1.35rem;
    }

.banner-part{
    height: 700px;
}
    /**banner welcome heading***/
    h1{
        font-size: 2.75rem;
        margin-top: 150px;
        color:yellow;
        
    }
    /**btn 1 and btn2**/
    button.btn1{
        padding: 10px;
        width: 40%;
        color:rgb(255, 255, 255);
        background-color: orange;
        border-radius: 15px;
        border: 1px solid orange;
        opacity: 1;
        margin-left: 50px;
        margin-bottom: 10px;
        margin-top: 55px;
        
    }
    
    button.btn2{
        padding: 10px;
        font-size: 0.85rem;
        width: 40%;  
        color:rgb(255, 255, 255);  
        font-weight: 500;
        background-color: rgba(95, 95, 95, 0.226);
        border-radius: 15px;
        border: 1px solid orange;
        opacity: 1;
    }
    
    }

/***FOR LARGER DESKTOP SCREEN SIZES MAX 2560 AND MIN 1025PX*/
/**@media only screen and (max-width: 2560px) and (min-width: 1025px){
    
    body{
        color:red;
    }

    .logo{
        border: px solid white;
        margin-left: 0px;
        width: 150px;
        margin-left: 10px;
       margin-top: 35px;
       opacity: 0.65;
    }
  
    .main-nav li{
        display: inline-flex;
        padding-top: 45px;
        margin-left: 0px;
        border: px solid white;
        justify-content: center;
        margin-right: 0px;
    }

    .main-nav li a:link,
    .main-nav li a:visited{
        padding: 0px 0px;
        font-size: 2.5rem;
    }

.banner-part{
    height: 1080px;
}
    /**banner welcome heading
    h1{
        font-size: 2rem;
        margin-top: 150px;
        color:rgb(255, 0, 64);
        
    }
    /**btn 1 and btn2
    
button.btn1{

    padding: 10px;
    width: 30%;
    color:rgb(255, 255, 255);
    background-color: orange;
    border-radius: 15px;
    border: 1px solid orange;
    opacity: 1;
    margin-left: 50px;
    
}

button.btn2{
    padding: 10px;
    font-size: 0.85rem;
    width: 40%;
    color:orange;
    font-weight: 500;
    background-color: rgba(95, 95, 95, 0.226);
    border-radius: 15px;
    border: 1px solid orange;
    opacity: 1;
}} **/
